<?xml version="1.0"?>
<config><app><key>56C712879DC74B47A5A68699EB39D636</key><name>caaec</name><company>sincco.com</company></app><front><url>http://app.saludenmovimiento.mx/</url></front><bases><base><host>sfphp</host><user>sfphp</user><password>N3bO5OI+5N2IBKk/ZSZ0Rv6wRdwRtcoAVAnjByKD2Aw=</password><dbname>sfphp</dbname><type>mysql</type><default>1</default></base><type>DEFAULT</type><name>sfphp</name><ssonly>0</ssonly><inactivity>60</inactivity></bases><session><type>DEFAULT</type><name>sfphp</name><ssonly>0</ssonly><inactivity>60</inactivity></session><dev><log>1</log><showerrors>1</showerrors><showphperrors>1</showphperrors></dev></config>
